TOKEN = "TOKEN"
PREFIX = "!"
OWNER_IDS = "123456789012345678, 123456789012345679"
CLIENT_ID = "123456789012345610"
GUILD_ID = ""
PRODUCTION = "true"
SEARCH_ENGINE = "ytsearch"
MAX_PLAYLIST_SIZE = "100"
MAX_QUEUE_SIZE = "100"
DATABASE_URL = "mongodb://USER:PASSWORD@mongodb/lavamusic?authSource=admin&directConnection=true"
LAVALINK_URL = "discord-lavalink:2333"
LAVALINK_AUTH = "PASSWORD"
LAVALINK_NAME = "example-LAVALINK"
LAVALINK_SECURE = "false"
BOT_STATUS= "online"
BOT_ACTIVITY= "World"
BOT_ACTIVITY_TYPE = 2
